.accordion {
  width: 100%;
}

.accordion__container {
  display: flex;
  flex-direction: column;
  background-image: none;
  transition: all 0.3s ease-out;
  overflow: hidden;
  transition: all 0.3s ease-out;

  .accordion__header {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 0;
    border-top: 1px solid var(--color-white);
    outline: 0;
    background-image: none;
    cursor: pointer;

    svg {
      transform: rotate(90deg);
    }
  }

  .accordion__content {
    display: block;
    transition: all 0.3s ease-out;
    max-height: 0;
    transform: translateY(400px);
  }
  &.is-active {
    min-height: 200px;
    max-height: 800px;
    flex-direction: column-reverse;
    .accordion__content {
      padding: 10px 15px;
      display: block;
      max-height: 500px;
      transform: translateY(0);
    }

    .accordion__header {
      svg {
        transform: rotate(-90deg);
      }
    }
  }

  &.play {
    .accordion__header {
      padding: 20px;
      align-items: center;
      justify-content: center;
      width: 100%;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 75px;
        img {
          width: clamp(3.5rem, 2.5291rem + 4.1424vw, 7.5rem);
          height: clamp(3.5rem, 2.5291rem + 4.1424vw, 7.5rem);
        }
      }

      h5 {
        margin: 0;
      }

      .time {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        max-width: 72px;
        p {
          margin: 0;
        }
      }

      .situation {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        gap: 5px;

        p {
          margin: 0;

          @media screen and (max-width: $breakpoint-sm) {
            font-size: 1.4rem;
          }
        }
      }
    }
    &.is-active {
      min-height: 200px;
      max-height: 800px;
      flex-direction: column;
      .accordion__content {
        padding: 0;
        display: block;
        max-height: 500px;
        transform: translateY(0);

        .video {
          .media {
            position: relative;
            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
              aspect-ratio: 16 / 9;
              min-height: 150px;
              display: block;
              filter: brightness(0.75);
            }

            .container {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              height: 50px;
              width: 50px;
              background-color: var(--color-black);
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
            }
          }
        }

        &:has(.video){
          padding: 10px 15px;
        }
      }

      .accordion__header {
        svg {
          transform: rotate(-90deg);
        }
      }
    }
  }
}
