/* ==========================================================================
   carousel / component
   ========================================================================== */
.swiper-slide {
  height: fit-content;
  color: inherit;
  background-color: inherit;
}

.swiper {
  overflow-y: visible;
  overflow-x: clip;
}

.swiper-wrapper {
  box-sizing: inherit;
}

.swiper-pagination-bullets {
  display: flex;
  justify-content: center;
  position: sticky;
  padding-top: 20px;
}
.swiper-pagination-bullet {
  --size: 20px;

  border: 2px solid var(--color-white);
  border-radius: 100%;
  height: var(--size);
  margin: 0 5px;
  transition: border 0.4s ease-out;
  width: var(--size);
}

.swiper-pagination-bullet-active {
  border-width: calc(var(--size, 20px) / 2);
}

.nav {
  height: fit-content;
  --gap: 20px;
  gap: var(--gap);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: calc(100% + 10px);
  width: 100%;
  margin-bottom: 20px;


  &.stats {
    h3 {
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: capitalize;
      margin: 0;
    }

    &::after {
      --width-line: 100px;
    }
  }

  &.standing {
    bottom: calc(100% - 55px);
    h3 {
      font-size: 1.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 135px;
      margin: 0;
    }

    &::after {
      --width-line: 135px;
    }
  }

  &.game-infos {
    --gap: 35px;
    gap: var(--gap);
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);

    &::after {
      --width-line: 150px;
    }

    h5 {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      width: 150px;
      
    }

    &.no-report {
      top: -40px;

      &::after {
        display: none;
      }
    }
    @media screen and (max-width: 425px) {
      h5{
        width: 130px;
      }

      &::after{
        --width-line: 130px;
      }
    }
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: fit-content;
    height: 100%;
    position: relative;
    text-align: center;
    color: var(--color--white);
    opacity: 0.35;
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);

    h2 {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 120px;
      text-transform: capitalize;
      margin: 0;
    }

    &.swiper-button-disabled {
      opacity: 1;
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    --width-line: 120px;
    background-color: var(--color-white);
    border-radius: 2px;
    width: var(--width-line);
    height: 4px;
    bottom: -10px;
    box-shadow: 0 2px 25px 2px var(--color-white);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &:has(
      .swiper-button-next.swiper-button-disabled
    )::after {
    left: calc(50% + (var(--gap) - 40px / 2));
  }
  &:has(
      .swiper-button-prev.swiper-button-disabled
    )::after {
    left: calc(50% - var(--width-line) - (var(--gap) - 40px / 2));
  }

  &.game-infos{
    &:has(
      .swiper-button-next.swiper-button-disabled
    )::after {
      left: calc(50% + (var(--gap) - 55px / 2));
  }
  &:has(
      .swiper-button-prev.swiper-button-disabled
    )::after {
      left: calc(50% - var(--width-line) - (var(--gap) - 55px / 2));
  }
  }
}
