.penalties {

  .penalties-container{
    margin-top: 40px;

    h4{
      margin-bottom: 20px;
    }
  }
  .penalty-table {
    width: 100%;
    padding: 0;
    background-image: none;
    padding: 15px 15px 0 15px;
  }
  table {
    border-collapse: collapse;
    width: 100%;

    img {
      max-width: 55px;
      max-height: 55px;
    }

    th,
    td {
      font-size: 1.4rem;
      text-align: left;
      padding: 0;

      a {
        font-size: inherit;
      }
    }

    th[scope="row"],
    td[scope="row"] {
      min-width: 55px;
      max-width: 80px;
      text-align: left;

      &.no-mobile {
        @media screen and (max-width: 768px) {
          display: none;
        }
      }

      @media screen and (max-width: 768px) {
        text-align: center;
      }
    }

    td:last-child {
      border-left: 1px solid var(--color-white);
      padding-left: 10px;
    }

    th:last-child {
      padding-left: 10px;
    }

    thead {
      tr {
        height: 40px;
        border-bottom: 1px solid var(--color-white);
      }
    }

    tbody {
      tr {
        height: 80px;
        border-top: 1px solid var(--color-white);
        border-bottom: 1px solid var(--color-white);

        td {
          min-width: 120px;
        }

        &:last-child {
          border-top: 0;
          border-bottom: 0;
        }
      }
    }
  }
}
