.roster-match {
  --link-width: 150px;
  --uta-width: 185px;
  --padding-pill: 6px;
  --current-link-index: 0;
  --total-links: 2; // number of link in the nav the properly setup the css for the header
  --total-nav-width: calc(
    var(--total-links) * var(--link-width) - var(--padding-pill) * 2
  );
  --total-nav-uta-width: calc(
     var(--uta-width) + var(--link-width) - var(--padding-pill) * 2
  );
  h2 {
    margin: 0;

    @media screen and (max-width: 630px) {
      margin: 0 0 60px 0;
    }
  }
  .roster-table-container {
    background-image: none;
    margin-top: 30px;

    table {
      border-collapse: collapse;
      background-image: none;
      width: 100%;

      th,
      td {
        height: 50px;
        font-size: 1.6rem;
        text-align: center;
        min-width: 40px;
        width: 40px;
        padding: 0;
        width: calc((100% - 120px));
      }

      th[scope="row"],
      td[scope="row"] {
        min-width: 110px;
        text-align: left;
      }

      td[scope="row"] {
        border-right: 1px solid var(--color-white);
      }

      thead {
        tr {
          border-bottom: 1px solid var(--color-white);
        }
      }

      tbody {
        tr {
          height: 60px;
          border-top: 1px solid var(--color-white);
          border-bottom: 1px solid var(--color-white);

          &:last-child {
            border-top: 0;
            border-bottom: 0;
          }
        }
      }

      thead th {
        cursor: pointer;
      }
    }

    @media screen and (max-width: 1110px) {
      overflow-x: scroll;
      scrollbar-width: thin;
      scrollbar-color: var(--color-white) var(--color-bg-primary);
    }

    &:last-child {
      margin-bottom: 30px;
    }
  }
  .nav-wrapper {
    position: absolute;
    top: -30px;
    height: 44px;
    right: 50%;
    transform: translateX(50%);

    .indicator {
      --width-line: 24px;

      background-color: var(--color-white);
      border-radius: 2px;
      width: var(--width-line);
      position: absolute;
      top: -3px;
      height: 4px;
      margin-bottom: -2px;
      left: calc(var(--total-nav-width) / 2 - var(--link-width) / 2);
      box-shadow: 0 2px 25px 2px var(--color-white);
      transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
      filter: brightness(2.5);

      &.home {
        left: calc(var(--total-nav-width) / 2 - var(--link-width) / 2 * -1);
      }

      &.home.uta-home{
        left: calc(var(--total-nav-width) / 2 - var(--uta-width) / 2 * -1);
      }

      &.uta{
        left: calc(var(--total-nav-uta-width) / 2 - var(--uta-width) / 2.5);
      }
    }
  }
  .nav-pill-roster {
    display: flex;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: #f2f2f20d;
    border: 1px solid #f2f2f21a;
    border-radius: 24px;
    align-items: center;
    height: 44px;
    padding-left: var(--padding-pill);
    padding-right: var(--padding-pill);
    transition: all 1s cubic-bezier(0.23, 1, 0.32, 1),
      border 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 0 10px 25px #00000026;

    .indicator-pill-roster {
      z-index: -1;
      background-color: #f2f2f20d;
      border-radius: 18px;
      width: var(--link-width);
      height: 30px;
      display: block;
      position: absolute;
      top: 5px;
      left: calc(var(--padding-pill) + var(--link-width) * 0);
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      filter: saturate(0.6);

      &.uta{
        width: var(--uta-width);
      }
    }

    .roster-away,
    .roster-home {
      p {
        width: var(--link-width);
        height: 30px;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        cursor: pointer;
      }
    }

    .roster-away.uta{
      p{
        width: var(--uta-width);
      }
    }

    .roster-home.uta{
      p{
        width: var(--uta-width);
      }
    }

    .roster-home.swiper-button-disabled + .indicator-pill-roster {
      left: calc(var(--padding-pill) + var(--link-width) * 1);
    }
  }
}
