.hero .team-versus {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(2.5rem, 1.2864rem + 5.178vw, 7.5rem);
  margin-bottom: 60px;

  .team-logo-video {

    img{
      width: clamp(12.5rem, 8.8592rem + 15.534vw, 27.5rem);
      height: clamp(12.5rem, 8.8592rem + 15.534vw, 27.5rem);
    }

  }

  span{
    display: block;
    font-weight: 800;
    font-size: 3rem;
  }
}
