.goal-infos-card {
  .players-goal {
    background-image: none;
    padding: 0;
    box-shadow: none;
  }

  strong {
    font-size: 1.6rem;
  }

  p,
  span {
    font-size: 1.4rem;
    margin: 0;
  }

  .period-container {
    margin-top: 40px;
  }

  .goals-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    gap: 10px;
    position: relative;

    @media screen and (max-width: 1170px) {
      flex-direction: column;
      align-items: inherit;

      .clip {
        position: absolute;
        top: 25%;
        right: 20px;
        transform: translateY(-25%);
      }
    }

    @media screen and (max-width: 500px) {
      .clip {
        svg {
          height: 1.6em;
          width: 1.6em;
        }
      }
    }
  }

  .goal-container {
    margin-top: 20px;
    &.so {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-image: none;
      padding: 8px 12px;

      .result {
        span {
          font-size: 2rem;
          padding: 10px 12px;
          background-color: gray;

          border-radius: 50%;
        }

        .goal {
          background-color: green;
        }
      }
    }

    .assists {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 3px;

      a {
        img {
          max-width: 40px;
          max-height: 40px;
          min-width: 40px;
          min-height: 40px;
        }
        @media screen and (max-width: 500px) {
          &.no-mobile {
            display: none;
          }
        }
      }

      .assist {
        min-width: 120px;
      }
      @media screen and (max-width: 500px) {
        span.no-mobile {
          display: none;
        }
        span{
          font-size: 1.2rem;
        }
      }
      @media screen and (min-width: 500px) {
        span.mobile {
          display: none;
        }
      }
    }
  }

  .media {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    img {
      width: clamp(4.4rem, 3.5262rem + 3.7282vw, 8rem);
      height: clamp(4.4rem, 3.5262rem + 3.7282vw, 8rem);
    }
  }

  .goal-infos-stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    text-align: center;

    .stat {
      min-width: 108px;
      background-image: none;
      padding: 4px;
      strong {
        font-size: 1.4rem;
      }

      &.score{
        min-width: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
      }

      &.score .away-team,
      &.score .home-team{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
      }

      img{
        width: 40px;
        height: 40px;

        &.no-goal{
          opacity: 0.5;
        }
      }

      @media screen and (max-width: 1170px) {
        min-width: inherit;
        width: 100%;
      }

      @media screen and (max-width: 500px) {
        p,
        strong{
          font-size: 1.2rem;
        }
        
      }
    }
  }
}
