.other-game-infos {
  display: flex;
  flex-direction: column;
  gap: 30px;
  .season-series-card {
    background-image: none;
    padding: 15px 20px;

    .series-infos {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .series-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
      gap: 20px;
      align-items: center;
      justify-content: center;

      .serie {
        background-image: none;
        padding: 15px 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        &.active {
          outline: 2px solid var(--color-white);
        }
      }

      .team {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .away,
        .home {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          .media {
            display: flex;
            gap: 5px;
            img {
              min-width: 50px;
              min-height: 50px;
              max-height: 50px;
              max-width: 50px;
            }
          }

          .score {
            padding-right: 10px;
            font-size: 2rem;
            margin: 0;
          }
        }
        .home.lost {
          opacity: 0.6;
        }
        .away.lost {
          opacity: 0.6;
        }
      }

      .game-infos {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 10px 0 10px;

        p {
          margin: 0;
        }
      }
    }
  }

  .team-stats {
    background-image: none;
    padding: 15px 20px;

    .teams-infos {
      display: flex;
      flex-direction: column;
      gap: 10px;

      h4 {
        margin: 0;
      }
    }

    .team-abbrev,
    .stats-container {
      padding: 0 15px;

      p {
        margin: 0;
      }
    }

    .teams-logo {
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        min-width: 65px;
        max-width: 65px;
      }
    }

    .stats-container{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .team-abbrev {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .stat{
      display: flex;
      flex-direction: column;
      gap: 5px;
      .pcStat,
      .indication-color,
      .standing-stat{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .indication-color{
        gap: 8px;

        .team,
        .team{
          display: flex;
        }

        .color{
          display: block;
          height: 8px;
          width: 100%;

          &.away{
            border-right: 8px solid transparent;
          }
          &.home{
            border-left: 8px solid transparent;
          }
        }
      }
    }
  }
}
