.stat.matchup{
    display: flex;
    flex-direction: column;
    gap: 5px;
    .pcStat,
    .indication-color,
    .standing-stat{
      display: flex;
      justify-content: space-between;
      align-items: center;

      p:nth-child(2){
        @media screen and (max-width: 425px) {
          font-size: 1.4rem;
          text-align: center;
        }
      }

      strong{
        font-size: 1.6rem;
        flex: 1;
      }
    }

    .indication-color{
      gap: 8px;

      .team,
      .team{
        display: flex;
      }

      .color{
        display: block;
        height: 8px;
        width: 100%;

        &.away{
          border-right: 8px solid transparent;
        }
        &.home{
          border-left: 8px solid transparent;
        }
      }
    }
  }

  .teams-logo.matchup {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 50px;
      height: 50px;
    }
  }