.nav-section {
  --number-links: 2;
  --gap: 20px;
  color: var(--color-white);
  font-weight: 600;

  .nav-container {
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    text-align: center;
    width: fit-content;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 15px;
      left: 0;
      --width-line: 130px;
      background-color: var(--color-white);
      border-radius: 2px;
      width: var(--width-line);
      height: 4px;
      box-shadow: 0 2px 25px 2px var(--color-white);
      transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);

      @media screen and (max-width: 500px) {
        --width-line: 110px;
      }
    }

    p {
      opacity: 0.35;
      width: 130px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: calc(var(--font-size-content) + 0.3rem);
      cursor: pointer;

      &.active {
        opacity: 1;
      }

      @media screen and (max-width: 500px) {
        width: 110px;
      }
    }

    &.calendrier::after {
      left: calc(var(--width-line));
    }
    &.statistiques::after {
      left: calc(
        var(--width-line) * var(--number-links)
      );
    }
  }

}
