.playByPlay {
  .stop-play.whistle {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: none;
    border-radius: 0;
    gap: 5px;
    svg {
      color: var(--color-white);
      stroke: var(--color-white);

      path:last-child {
        stroke: var(--color-black);
      }
    }

    p{
      margin: 0;
    }
  }

  .svg-container {
    path {
      height: 50px;
    }
  }

  .icon--xxs {
    display: contents !important;
  }

  .goal-infos {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    padding: 10px;
    gap: 60px;

    *:not(.logo-score){
      z-index: 1;
    }

    a {
      display: block;
      img {
        max-width: 75px;
        max-height: 75px;
        min-width: 75px;
        min-height: 75px;
      }
    }

    .isScore {
      opacity: 0.5;
    }

    .goal-svg {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;

      .svg-style {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
        background-color: var(--color-black);
        border-radius: 50%;

        &::after {
          content: '';
          position: absolute;
          width: 30px;
          height: 30px;
          background-color: rgba(233, 17, 17, 0.51);
          margin-top: 5px;
          border-radius: 30%;
          box-shadow: 0 -26px 112px 0 rgba(233, 17, 17, 0.74),
            0 -11.553px 38.919px 0 rgba(233, 17, 17, 0.45),
            0 -6.172px 21.436px 0 rgba(233, 17, 17, 0.39),
            0 -3.308px 13.374px 0 rgba(233, 17, 17, 0.37),
            0 -1.626px 8.363px 0 rgba(233, 17, 17, 0.35),
            0 -0.609px 4.224px 0 rgba(233, 17, 17, 0.28);
        }
      }
    }

    p {
      margin: 0;
    }

    .logo-score {
      position: absolute;
      top: 20px;

      img {
        min-width: 75px;
        min-height: 75px;
        transform: scale(2.2);
        opacity: 0;
      }

      &.away {
        left: 20px;
      }

      &.home {
        right: 20px;
      }

      &.isScoreLogo {
        img {
          opacity: 0.4;
        }
      }
    }
  }
}
