.main-schedule {
  margin-bottom: 60px;
  font-size: 1.8rem;

  .day-of-week {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    button {
      min-width: 40px;
      max-width: 100px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      background-color: initial;
      background-image: none;
      color: var(--color-white);
      border-width: 0;
      cursor: pointer;
      width: 100%;

      p {
        margin: 0;

        &:nth-child(2) {
          font-size: 1.8rem;
          font-weight: 800;
        }

        &:last-child {
          font-size: 1.6rem;
        }
      }

      &.active {
        box-shadow: inset 0 0 8px var(--color-white), 0 0 60px #0003,
          0 30px 120px rgba(0, 0, 0, 0.3);
      }

      @media screen and (max-width: 500px) {
        border-radius: 0;
      }
    }
  }

  .change-week {
    display: flex;
    justify-content: space-between;
    background-image: none;
    align-items: center;
    font-weight: 800;
    max-width: 270px;
    max-height: 50px;
    margin-bottom: 50px;
    padding: 8px;
    button {
      border-width: 0;
      padding: 0;
      background-color: initial;
      color: var(--color-white);
      cursor: pointer;
    }

    p {
      margin: 0;
    }
  }
  .schedule-game {
    padding: 10px 15px 0 15px;
    background-image: none;
    .team {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      gap: 30px;

      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        width: 100%;

        .left-side {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          img {
            max-width: 75px;
            max-height: 75px;
            min-height: 75px;
            min-width: 75px;
          }
        }
      }

      p {
        margin: 0;
        font-weight: 800;
      }

      .score {
        font-size: 2rem;
      }
    }

    .result-game {
      color: var(--color-black);
      padding: 4px 8px;
      background-color: var(--color-white);
      border-radius: 5px;
      margin: 0;
      font-size: 1.4rem;
    }
  }

  .container-games {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(332px, 1fr));
    gap: 24px;
  }

  .situation {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;

    .broadcast {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    p {
      margin: 0;
    }
  }

  .slide {
    background-image: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.4rem;
    max-width: 450px;
    gap: 15px;
    padding: 10px 15px;

    .media,
    a {
      max-width: 60px;
      max-height: 60px;
      min-width: 60px;
      min-height: 60px;
      aspect-ratio: 16 / 9;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .goal-infos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 5px;
      width: 100%;

      p:first-child {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 25px;
        min-width: 190px;
        max-width: 215px;
      }

      .strength {
        background-color: red;
        padding: 3px 3px;
        border-radius: 5px;
      }
    }

    p {
      margin: 0;
    }

    .assists {
      white-space: nowrap;
      font-size: 1.2rem;
    }

    .clip {
      margin-left: -20px;
    }
  }

  .slide.leader {
    .player-infos {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
    }

    .player-stats {
      text-align: center;
    }

    .stats {
      font-size: 1.8rem;
      text-align: center;
    }
  }

  .swiper {
    overflow-x: clip;
    overflow-y: visible;
  }

  .swiper-slide {
    width: fit-content;
  }

  .game-links {
    position: relative;
    width: 100%;
    border-top: 1px solid var(--color-white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;

    a {
      padding: 15px;
      text-align: center;
      min-width: 150px;

      &:nth-child(2):after {
        position: absolute;
        content: "";
        height: 80%;
        width: 1px;
        background-color: var(--color-white);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .content {
    .swiper-pagination-bullet {
      height: 10px;
      width: 16px;
      padding: 0;
      border: 2px solid var(--color-white);
    }

    .swiper-pagination-bullet-active {
      background: var(--color-white);
      background-image: none;
      height: 10px;
      width: 16px;
      padding: 0;
      border: 2px solid var(--color-white);
    }

    .swiper-navigation {
      position: absolute;
      top: 66%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 120px;
      padding-top: 20px;

      .swiper-button-disabled {
        opacity: 0.6;
        cursor: not-allowed !important;
      }

      .next,
      .prev {
        cursor: pointer;
        z-index: 15;
      }

      &.more{
        gap: 240px;
      }
    }
  }
}

.period {
  background-color: green;
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
}
