.hero {
  padding-top: calc(var(--height-header) + 60px);
  position: relative;
  overflow: hidden;

  &.team{
    text-align: center;

    .wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;
    }

    .team-standing{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      background-image: none;
      padding: 16px;

      p{
        font-size: calc(var(--font-size-content) + 0.44rem);

        strong{
          font-size: calc(var(--font-size-content) + 0.88rem);
        }

        @media screen and (max-width: 500px) {
          font-size: calc(var(--font-size-content));

          strong{
            font-size: calc(var(--font-size-content) + 0.44rem);
          }
        }
      }

      @media screen and (max-width: 500px) {
        gap: 15px;
      }
      
    }

    & + .nav-section{
      margin-top: 60px;
    }
  }

  .hero-logo{
    max-width: clamp(15rem, 11.3592rem + 15.534vw, 30rem);
    max-height: clamp(15rem, 11.3592rem + 15.534vw, 30rem);
  }

  &.search-page,
  &.follow-players{
    min-height: calc(100vh - var(--height-header) + 60px);
  }
}

.window-effect {
  position: relative;
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  outline-offset: -1px;
  background-image: radial-gradient(
    circle farthest-side at 50% 0,
    #f2f2f233,
    #0000
  );
  border-radius: var(--window-border-radius);
  outline: 1px solid #f2f2f226;
  padding: 8px;
  box-shadow: inset 0 0 8px #0006, 0 0 60px #0003, 0 30px 120px rgba(0, 0, 0, 0.3);

  & .glare-effect {
    z-index: 1;
    filter: brightness(2);
    background-image: linear-gradient(
      to right,
      #0000 15%,
      #fff 50%,
      #0000 95%
    );
    position: absolute;
    inset: 0% 0% auto;
    height: 1px;
    margin-bottom: -1px;
  }
  &.scoreboard{
    background-image: none;
  }
}

.fade {
  z-index: 5;
  background-image: linear-gradient(
    to bottom,
    #10101000,
    var(--color-bg-primary) 60%
  );
  flex-direction: column;
  align-items: center;
  height: 40px;
  padding-top: 48px;
  display: flex;
  position: absolute;
  inset: auto 0% 0%;
}

.roster,
.search-page{
  margin-bottom: 30px;
}
