.hero-player {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  object-position: 0 15%;
  max-height: clamp(27.5rem, 23.8592rem + 15.534vw, 42.5rem);
  min-height: 225px;

  @media screen and (max-width: 515px) {
    object-position: 35% 0%;
  }
}

.hero.single-player .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

  & .basic-infos-player {
    margin-top: -130px;
    h1 {
      margin: 0;
    }

    .media {
      width: clamp(24rem, 11.3592rem + 15.534vw, 30rem);
      height: clamp(24rem, 11.3592rem + 15.534vw, 30rem);
    }

    @media screen and (max-width: 868px) {
      margin-top: 0;
    }
  }

  @media screen and (max-width: 868px) {
    display: block;
    padding: 0;
  }
}

.more-infos {
  h2 {
    margin-top: 0;
  }
  @media screen and (max-width: 868px) {
    display: none;
  }
  &.mobile {
    display: none;
    @media screen and (max-width: 868px) {
      display: block;
    }
  }
}
