.global-stats {
  margin-top: 90px;

  .swiper {
    overflow-y: visible;
    overflow-x: clip;
  }

  .league-stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 95px;

    h2 {
      margin-bottom: 0;
    }

    select {
      background-color: black;
      background-image: none;
      color: var(--color-white);
      font-weight: 700;
      padding: 12px 12px;
      min-width: 150px;
    }
  }

  .swiper-wrapper {
    box-sizing: inherit;
    padding-top: 30px;
  }
  .swiper-slide {
    height: inherit;
    color: inherit;
    background-color: inherit;
    display: block;
    align-items: inherit;
    justify-content: inherit;
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .normal-stats-general,
  .playoff-stats-general {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (max-width: 868px) {
      gap: 60px;
    }
  }

  @media screen and (max-width: 868px) {
    margin-top: 60px;
  }
}

.swiper-button-next.swiper-button-disabled {
  .nav::after & {
    left: calc(50%);
  }
}

.swiper-button-prev.swiper-button-disabled {
  .nav::after & {
    left: calc(50% - 130px);
  }
}

.stats-section {
  width: 100%;
  display: flex;
  align-items: center;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  background-color: #f2f2f20d;
  border: 1px solid #f2f2f21a;
  justify-content: space-between;
  border-radius: 24px;
  transition: all 1s cubic-bezier(0.23, 1, 0.32, 1),
    border 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 10px 25px #00000026;

  table {
    width: 100%;
    text-align: center;
  }

  p {
    min-width: 200px;
    text-align: center;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  th,
  td {
    font-size: 2rem;
    text-align: center;
    max-width: 150px;
    min-width: 50px;
    width: calc((100vw - 50px) / 7);

    @media screen and (max-width: 500px) {
      width: calc((100vw - 40px) / 5);
      &.statsNoMobile {
        display: none;
      }
    }
  }

  @media screen and (max-width: 868px) {
    padding: 0;

    p {
      position: absolute;
      top: -50%;
      left: 50%;
      min-width: initial;
      transform: translateX(-50%);
      text-wrap: nowrap;
    }
  }
}
