.three-stars .cards-container {
  margin-top: 80px;

  .media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    a{
      display: block;
      z-index: 0;
    }

    img {
      width: clamp(12rem, 11.0291rem + 4.1424vw, 16rem);
      height: clamp(12rem, 11.0291rem + 4.1424vw, 16rem);
      margin-top: -80px;
    }
    .infos-player {
      position: relative;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      gap: 20px;
      img {
        width: 55px;
        height: 55px;
        margin-top: 0;
      }
    }
    .stats {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-image: none;
      background-color: rgba(0, 0, 0, 0.6);
      width: 100%;
      border-radius: 12px;

      .stat {
        width: 100%;
        text-align: center;
      }
    }

    .content {
      flex-direction: column;
      display: flex;
      align-items: center;
      width: 100%;

      h5 {
        margin-top: 0;
      }
    }
  }

  .star-number {
    color: var(--color-black);
    position: absolute;
    height: 40px;
    width: 40px;
    top: -10px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 50%;
    background-image: none;
    background-color: var(--color-white);
  }
}
