/* ==========================================================================
   HEADINGS / ELEMENT
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  line-height: 1;
  font-weight: bold;
  text-wrap: balance;
}

h1 {
  font-size: var(--font-size-h1);
  margin-top: 0;
  color: var(--color-white);
}

p {
  font-size: var(--font-size-content);

  strong {
    font-weight: 800;
    font-size: calc(var(--font-size-content) + 0.22rem);
  }
}

h2 {
  font-size: var(--font-size-h2);
  font-family: var(--font-secondary);
  color: var(--color-white);
  margin: 0;
}

h3 {
  font-size: var(--font-size-h3);
  text-transform: uppercase;
  margin: 0;
}

h4 {
  font-size: var(--font-size-h4);
  margin: 0;
}

h5 {
  font-size: var(--font-size-h5);
  margin: 0;
}

h6 {
  font-size: var(--font-size-h6);
}
