/* ==========================================================================
   LINKS / ELEMENTS
   Style de base de tous les liens et bouton du site
   ========================================================================== */

a{
    color: currentColor;
    text-decoration: none;
    font-size: 1.4rem;

    &:hover {
        color: currentColor;
    }

    &.disabled {
        color: #e2e2e2;
    }
}


