/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #f2f2f2;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #0d1821;

    --color-bg-primary: #101010;
    --color-bg-secondary: #344966;
}
